<footer>
  <p class="mt-5 mb-3 text-muted  copyright">copyright &copy; 2020</p>
  <i class="fab fa-facebook-f text-muted"></i>
  <i class="fab fa-instagram text-muted"></i>
  <i class="fab fa-twitter text-muted"></i>
</footer>
</body>
</html>
