<%- include('partials/header') %>

<div class="text-center">
  <div class="container">
    <div class="center">
      <i class="fas fa-key fa-6x icon"></i>
      <h1 class="heading-3 paragraph">You've Discovered My Secret!</h1>
      <hr>
      <% usersWithSecrets.forEach(function(user){ %>
        <p class="secret-text"><%=user.secret %></p>
      <% }) %>

      <hr>
      <a class="btn btn-dark btn-lg" href="/submit" role="button"> <i class="fas fa-user-secret"></i> Submit a Secret</a>

      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out <i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
