<%- include('partials/header') %>

<div class="container">
  <div class="text-center">
    <i class="fas fa-key fa-6x icon"></i>
    <h1 class="heading-3 paragraph">Secrets</h1>
    <p class="secret-text paragraph">Don't keep your secrets, share them anonymously!</p>

    <form action="/submit" method="POST">
      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" id="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
