html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f1da;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");

}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px 25px 10px 25px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.email, .password, .label{
  padding-bottom: 5%;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.label-2{
  padding:3%;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.card-center{
  margin:5% auto;

}



.card-body
{
  position: relative;
}
.card-body:before, .card-body:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.card-body:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


.heading{
  font-size: 5rem;
  font-weight: 900;
  color:#4a3f35;
}
.paragraph{
  font-size: 2rem;
  color:#4a3f35;
}
.data{
  margin: auto;
}
.icon{
  color:#c7b198;
}
.btn-color{
  background-color: #4a3f35;
  color:#fff;
}
.btn-color:hover{
  background-color: #a0855b;
  color:#fff;
}
.icon-color{
  color:#4a3f35;
}
